.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.fd-column {
    flex-direction: column;
}
.jc-between {
    justify-content: space-between;
}
.jc-around {
    justify-content: space-around;
}
.jc-center {
    justify-content: center;
}
.jc-end {
    justify-content: flex-end;
}
.ai-center {
    align-items: center;
}
.ai-end {
    align-items: flex-end;
}
.txt-center {
    text-align: center;
}
.txt-trans-upper {
    text-transform: uppercase;
}