@media (max-width: 768px) {
    .header {
        &__official {
            display: none;
        }
    }
}

@media (max-width: 425px) {
    .header {
        .container {
            flex-direction: column;
            align-items: center;
        }
        &__contacts {
            margin-top: 15px;
            align-items: center;
        }
    }
}

@media (max-width: 274px) {
    .header {
        &_phone {
            font-size: 16px;
        }
    }
}