@media (max-width: 768px) {
    .promo {
        background: url('../img/bg/adapt/promo.jpg') center center/cover no-repeat;
        &__wrap {
            align-items: center;
        }
        &__header-wrap {
            align-items: center;
            text-align: center;
        }
        &__subheader {
            font-size: 22px;
        }
        &__call-wrap {
            align-items: center;
        }
        &__link {
            margin-top: 10px;
            span {
                display: block;
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 465px) {
    .promo {
        &__list {
            justify-content: space-around;
            margin-top: 40px;
        }
        &__call-wrap {
            margin-top: 45px;
        }
    }
}

@media (max-width:425px) {
    .promo {
        &__wrap {
            padding-top: 190px;
            padding-bottom: 50px;
        }
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 21px;
        }
        &__item {
            max-width: 120px;
            &+& {
                margin-left: 0;
            }
        }
        &__link {
            font-size: 15px;

        }
    }
}

@media (max-width: 352px) {
    .promo {
        &__list {
            flex-wrap: wrap;
        }
        &__item {
            &:last-child {
                margin-top: 20px;
            }
        }
    }
}