.consultation {
    min-height: 680px;
    background: url('../img/bg/consult.jpg') center center/cover no-repeat;
    &__wrap {
        padding: 105px 0;
    }
    &__descr {
        font-size: 20px;
        color: #fff;
        line-height: 1.5;
    }
    .form {
        margin-top: 40px;
    }
    .error {
        border: 1px solid red;
        margin-bottom: 20px;
    }
    .valid {
        margin-bottom: 15px;
    }
    label.error {
        border: none;
        text-align: left;
        margin-bottom: 15px;
        color: #fff;
    }
}